.builder-header {
  display: flex;

  justify-content: space-between;

  align-items: center;

  margin-bottom: 20px;
}

.builder-header h1 {
  color: var(--accent);

  font-size: 34px;

  letter-spacing: 6px;

  font-weight: 400;
}
